footer{
    margin: 30px 10px 0 10px;
}
footer section{
    color: var(--Gris-oscuro);
    text-align: center;
    padding: 20px;
}
footer section i{
    margin-bottom: 10px;
    text-align: center;
    font-size: 2em;
    color:var(--Celeste);
}

footer section.footer-down{
    margin: 0;
    padding: 0;
}
footer section p.copyright{
    text-align: left;
    font-size: 12px;
}

footer section p {
    margin-top: 0;
    color: var(--Gris-oscuro);
    padding: 0px 5px 20px;
    font-size: 13px;
}