header{
    padding: 30px 20px 20px 20px;
}
header .header-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    width: 48%;
    margin-left: 10px;
}
header .busquedad{
    width: 48%;
}
header div.busquedad form input{
   width: 80%;
}
header div.busquedad form button{
    
    background-color: var(--Gris-claro);
    border: 1px solid var(--Gris-oscuro);
    padding: 1px;
    border-radius: 2px;
    color: var(--Negro);
    width: 20px;
}
header p{
    font-size: 13px;
    color: var(--Negro);
    margin: 0 ;
    padding: 10px;
    text-align: center;
}
header nav{
    display: none;
    padding-left: 15px;
}
header nav ul{
    padding: 0;
    margin: 15px 0;

}
header nav ul li{

    list-style: none;
   
}
header nav ul li a{
    text-decoration: none;
    color: var(--Negro);
    margin-right: 2px;
}

header .btn-burger{
    width: 45px;
    padding: 5px;
    background-color: var(--Celeste);
    display: block;
    color: var(--Blanco);
    font-size: 25px;
    margin: 0 auto 20px;
    text-align: center;
    border-radius: 5px;
}
@media (min-width:768px){
    header .logo{
        width: 32%;
    }
    header .busquedad{
        width: 32%;
    }
    header p{
        width: 32%;
        font-size: 16px;
    }
    header .btn-burger{
        display: none;
    }
    header nav{
        display: flex;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
    }
    header nav ul li{
        margin: 0 7px;
    }
}