.main .banner {
    width: 100%;
}
.main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}
main section h2{
    color: var(--Gris-oscuro);
    font-size: 24px;
    align-self: flex-start;
    padding-bottom: 15px;
    width: 100%;
}
main section div img.imagenes{
    width: 100%;
}
main section div.marco-img{
    margin-bottom: -3px ;
}
main section article{
    margin-top: 10px;
    background-color: var(--Blanco-article);
    transition: all ease .3s;
}
main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main section article div div.circulo {
    border-radius: 50%;
    border: 1px solid var(--Verde);
    color: var(--Verde);
    padding: 5px;
    right: 20px;
    top: -15px;
    width: 30px;
    font-size: 16px;
    display: block;
    position: absolute;
    background-color: var(--Blanco-article);
    transition: all ease .3s;
}
main section article:hover div div.circulo {
    box-shadow: 0 0 5px var(--Verde);
    transform: rotate(360deg);
}
main section div.detalles{
    background-color: var(--Blanco);
    border-top: 1px solid var(--Gris-claro);
    padding: 15px;
    position: relative;
}
main section article .detalles .precio-descuento{
    display: flex;
    padding-bottom: 10px;
}
main section div p.precio{
    font-size: 18px;
    flex-grow: 0.3;
}
main section div p.descuento{
    font-size: 16px;
    color: var(--Verde);
    flex-grow: 0.7;
}
main section div .descripcion{
    height: 0;
    transition: all ease .3s;
    overflow: hidden;

    font-weight: normal;
    color: var(--Gris-oscuro);
}

main section article:hover .descripcion{
    height: 20px;
}


.main section .detalles h3{
    font-size: 24px;
}

/*tablet*/
@media (min-width:361px){
    .main section article{
        width: 40%;
    }
    main section div .descripcion{
        display: block;
    }
}

@media (min-width:1024px){
    .main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20%;
    }
}